$background-global: #e2e2ec;
$button-color: rgb(4, 151, 151);
.button {
    padding: 0;
    max-width: 250px;
    border-style: none;
    background-color: $button-color;
    color: white;
    border-radius: 7px;
    height: 35px;
}
.radius {
  border-radius: 7px;
}
.grey-text {
  color: rgba(128, 128, 128, 0.678);
  font-weight: 550;
}
.grey-text-thin {
  color: rgba(128, 128, 128, 0.678);
}
.lgt-grey-text {
  color: rgb(185, 185, 185);
}
.pointer {
  cursor: pointer;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.error {
    color: rgba(255, 0, 0, 0.6);
    font-size: 9px;
    padding-top: 5px;
    box-sizing: border-box;
}
.size {
  margin-bottom: 3px;
  height: 35px;
  width: 100%;
}
.text-size-small {
  font-size: 12px;
}
.text-size-vsm {
  font-size: 10px;
}
.sm-txt {
  font-size: 10px;
}
.md-txt {
  font-size: 12px;
}
.lg-txt {
  font-size: 14px;
}
.xlg-txt {
  font-size: 40px;
}
// .sm-icon {
//   font-size: 10px;
// }
// .md-icon {
//   font-size: 30px;
// }
// .lg-icon {
//   font-size: 80px;
// }
.base-input {
  border-radius: 8px;
  width: 100%;
  margin-bottom: 10px;
  height: 35px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  outline: none;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 10px;
}
.base-form-input {
  border-radius: 5px;
  width: 100%;
  height: 20px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  outline: none;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 10px;
}
.base-input::placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-style: italic;
}
.base-input:focus {
  color: black;
  border: 1px solid grey;
}

//**INPUT ERROR ICON
.input-icon-wrapper {
  position: relative;
}
.el-icon-warning {
  position: absolute;
  top: 10px;
  right: 8px;
  color: rgb(254, 121, 121);
  font-size: 16px;
}
.el-icon-loading {
  position: absolute;
  top: 10px;
  right: 0;
  color: green;
  font-size: 16px;
}


//**Transition


  //Slide fade
.slide-fade-enter-active {
  transition: all .1s ease;
}
.slide-fade-leave-active {
  display: none;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

  //Slide down
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all .5s ease;
}
.slide-down-enter {
  opacity: 1;
  transform: translateY(-60px);
}
.slide-down-leave-to {
  opacity: 0;
  transform: translateY(-60px);
}


//**Scroll
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #dde0e7;
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(107, 107, 107);
}


//**Home-page colours
.red {
  background-color: rgba(255, 0, 0, 0.644);
  border-radius: 0px 7px 0px 0px;
}
.orange {
  background-color: rgba(255, 166, 0, 0.6);
}
.blue {
  background-color: rgb(4, 172, 172);
  border-radius: 7px 0px 0px 0px;
}
.purple {
  background-color: rgba(119, 78, 196, 0.6);
}
.lgt-green {
  background-color: rgb(212, 255, 131);
  border-radius: 0px 0px 0px 7px;
}
.green {
  background-color: rgba(114, 248, 37, 0.589);
  border-radius: 0px 0px 7px 0px;
}