$background-global: #e2e2ec;
$button-color: rgb(4, 151, 151);
//**Table colours
$holTable-color: rgba(38, 211, 211, 0.7); //#26d3d3
$entTable-color: rgba(137, 76, 250, 0.7); //#894cfa
$assTable-color: rgba(253, 55, 55, 0.7); //#fd3737
$cotTable-color: rgba(200, 253, 103, 0.7); //#c8fd67
$prestTable-color: rgba(140, 253, 75, 0.7); //#8cfd4b
$contTable-color: rgba(253, 178, 38, 0.7); //#fdb226
.fontWeight {
  font-weight: 550;
}
.dark-grey {
  color:rgb(97, 96, 96);
}
.button {
    padding: 0;
    // max-width: 250px;
    border-style: none;
    background-color: $button-color;
    color: white;
    border-radius: 7px;
    height: 35px;
}
.radius {
  border-radius: 7px;
}
.grey-text {
  color: rgba(128, 128, 128, 0.678);
  font-weight: 550;
}
.grey-text-thin {
  color: rgba(128, 128, 128, 0.678);
}
.lgt-grey-text {
  color: rgb(185, 185, 185);
}
.pointer {
  cursor: pointer;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.error {
    color: rgba(255, 0, 0, 0.6);
    font-size: 9px;
    padding-top: 5px;
    box-sizing: border-box;
}
.size {
  margin-bottom: 3px;
  height: 35px;
  width: 100%;
}
.text-size-small {
  font-size: 12px;
}
.text-size-vsm {
  font-size: 10px;
}
.sm-txt {
  font-size: 10px;
}
.md-txt {
  font-size: 12px;
}
.lg-txt {
  font-size: 14px;
}
.xlg-txt {
  font-size: 40px;
}
// .sm-icon {
//   font-size: 10px;
// }
// .md-icon {
//   font-size: 30px;
// }
// .lg-icon {
//   font-size: 80px;
// }
.base-search {
  border-radius: 7px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  outline: none;
  box-sizing: border-box;
  font-size: 12px;
  height: 20px;
  text-align: center;
}
.base-input {
  border-radius: 8px;
  width: 100%;
  margin-bottom: 10px;
  height: 35px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  outline: none;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 10px;
}
.base-form-input {
  border-radius: 5px;
  width: 100%;
  height: 20px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  outline: none;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 10px;
}
.base-input::placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-style: italic;
}
.base-input:focus {
  color: black;
  border: 1px solid grey;
}

//**INPUT ERROR ICON
.input-icon-wrapper {
  position: relative;
}
.el-icon-warning {
  position: absolute;
  top: 10px;
  right: 8px;
  color: rgb(254, 121, 121);
  font-size: 16px;
}
.el-icon-loading {
  position: absolute;
  top: 10px;
  right: 0;
  color: green;
  font-size: 16px;
}

//**CHART EXPORT LIST

.amcharts-amexport-item {
  background-color: $button-color !important;
  color: white!important;
}
.amcharts-amexport-top .amcharts-amexport-item>.amcharts-amexport-menu {
}

//**Transition


  //Slide fade
.slide-fade-enter-active {
  transition: all .1s ease;
}
.slide-fade-leave-active {
  display: none;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

  //Slide down
.slide-out-enter-active,
.slide-out-leave-active {
  transition: all .5s ease;
}
.slide-out-enter {
  opacity: 1;
  transform: translateX(100%);
}
.slide-out-leave-to {
  opacity: 1;
  transform: translateX(100%);
}

 //Slide in table
.slide-in-leave-active {
  transition: all 0s ;
}
.slide-in-enter-active {
  transition: all 0.7s ease;
}
.slide-in-enter {
  opacity: 0;
  transform: translateX(10px);
}
.slide-in-leave-to {
  opacity: 0;
  display: none;
}

//**Scroll
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #dde0e7;
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(107, 107, 107);
}


//**Home-page colours
.red {
  border: 1.5px solid $assTable-color;
  // background-color: $assTable-color;
  // border-radius: 0px 7px 0px 0px;
}
.orange {
  // background-color: $contTable-color;
  border: 1.5px solid $contTable-color;
}
.blue {
  // background-color: $holTable-color;
  border: 1.5px solid $holTable-color;
  // border-radius: 7px 0px 0px 0px;
}
.purple {
  // background-color: $entTable-color;
  border: 1.5px solid $entTable-color;
}
.lgt-green {
  // background-color: $cotTable-color;
  border: 1.5px solid $cotTable-color;
  // border-radius: 0px 0px 0px 7px;
}
.green {
  // background-color: $prestTable-color;
  border: 1.5px solid $prestTable-color;
  // border-radius: 0px 0px 7px 0px;
}


