/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: teal;

//inputs
$--input-border-radius: 8px;
$--input-height: 35px;
$--input-focus-border: grey;
$--font-size-base: 12px;

//message box
$--msgbox-content-font-size: 15px;
$--msgbox-width: auto;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
